.marpic {
    padding-left: 20vw;
}

.pbody {
    padding-right: 10vw;
}

body {
    background-color: #bde902;
}

.card-body {
    color: #018558;
}

.btn-green {
    background-color: #fef031;
}

.btn{
    background-color: #018558;
}


